lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
**/.sass-cache
**/.sass-cache/*

pids
logs
results

.grunt
.vscode

node_modules
logs
.DS_Store
._.DS_Store
/config.json
client/build/maps
client/build/maps/*
/infrastructure/local/mongo

/.project
.vagrant
.env

/infrastructure/aws/*.retry
coverage
